x64
libmindes-init/
!MInDes/MInDes/lib/x64
.vs
*.txt
*.vts
*.dat
*.o
*.in
MInDes/MInDes/_init
MInDes/MInDes/*.dll
!LICENSE.txt
/MInDes/MInDes/infile
/build-windows
/MInDes/Debug
/MInDes/MInDes/.build
/MInDes/MInDes/Debug
/MInDes/MInDes/out
